.no{height:16px;width:24px;background-position:0 0}
.ny{height:16px;width:24px;background-position:0 -16px !important;}
.pa{height:16px;width:24px;background-position:0 -32px !important;}
.my{height:16px;width:24px;background-position:0 -48px !important;}
.ne{height:16px;width:24px;background-position:0 -64px !important;}
.nl{height:16px;width:24px;background-position:0 -80px !important;}
.pl{height:16px;width:24px;background-position:0 -96px !important;}
.ru{height:16px;width:24px;background-position:0 -112px !important;}
.sd{height:16px;width:24px;background-position:0 -128px !important;}
.si{height:16px;width:24px;background-position:0 -144px !important;}
.ps{height:16px;width:24px;background-position:0 -160px !important;}
.pt{height:16px;width:24px;background-position:0 -176px !important;}
.ro{height:16px;width:24px;background-position:0 -192px !important;}
.lt{height:16px;width:24px;background-position:0 -208px !important;}
.lv{height:16px;width:24px;background-position:0 -224px !important;}
.mg{height:16px;width:24px;background-position:0 -240px !important;}
.rm{height:16px;width:24px;background-position:0 -256px !important;}
.lb{height:16px;width:24px;background-position:0 -272px !important;}
.lo{height:16px;width:24px;background-position:0 -288px !important;}
.mi{height:16px;width:24px;background-position:0 -304px !important;}
.mr{height:16px;width:24px;background-position:0 -320px !important;}
.ms{height:16px;width:24px;background-position:0 -336px !important;}
.mt{height:16px;width:24px;background-position:0 -352px !important;}
.mk{height:16px;width:24px;background-position:0 -368px !important;}
.ml{height:16px;width:24px;background-position:0 -384px !important;}
.mn{height:16px;width:24px;background-position:0 -400px !important;}
.tr{height:16px;width:24px;background-position:0 -416px !important;}
.zh-tw{height:16px;width:24px;background-position:0 -432px !important;}
.uk{height:16px;width:24px;background-position:0 -448px !important;}
.tg{height:16px;width:24px;background-position:0 -464px !important;}
.th{height:16px;width:24px;background-position:0 -480px !important;}
.tl{height:16px;width:24px;background-position:0 -496px !important;}
.ur{height:16px;width:24px;background-position:0 -512px !important;}
.yi{height:16px;width:24px;background-position:0 -528px !important;}
.yo{height:16px;width:24px;background-position:0 -544px !important;}
.zu{height:16px;width:24px;background-position:0 -560px !important;}
.uz{height:16px;width:24px;background-position:0 -576px !important;}
.vi{height:16px;width:24px;background-position:0 -592px !important;}
.xh{height:16px;width:24px;background-position:0 -608px !important;}
.sn{height:16px;width:24px;background-position:0 -624px !important;}
.so{height:16px;width:24px;background-position:0 -640px !important;}
.sq{height:16px;width:24px;background-position:0 -656px !important;}
.sk{height:16px;width:24px;background-position:0 -672px !important;}
.sl{height:16px;width:24px;background-position:0 -688px !important;}
.sm{height:16px;width:24px;background-position:0 -704px !important;}
.sr{height:16px;width:24px;background-position:0 -720px !important;}
.sw{height:16px;width:24px;background-position:0 -736px !important;}
.ta{height:16px;width:24px;background-position:0 -752px !important;}
.te{height:16px;width:24px;background-position:0 -768px !important;}
.st{height:16px;width:24px;background-position:0 -784px !important;}
.su{height:16px;width:24px;background-position:0 -800px !important;}
.sv{height:16px;width:24px;background-position:0 -816px !important;}
.el{height:16px;width:24px;background-position:0 -832px !important;}
.en{height:16px;width:24px;background-position:0 -848px !important;}
.eo{height:16px;width:24px;background-position:0 -864px !important;}
.cy{height:16px;width:24px;background-position:0 -880px !important;}
.da{height:16px;width:24px;background-position:0 -896px !important;}
.de{height:16px;width:24px;background-position:0 -912px !important;}
.es{height:16px;width:24px;background-position:0 -928px !important;}
.fi{height:16px;width:24px;background-position:0 -944px !important;}
.fr{height:16px;width:24px;background-position:0 -960px !important;}
.fy{height:16px;width:24px;background-position:0 -976px !important;}
.et{height:16px;width:24px;background-position:0 -992px !important;}
.eu{height:16px;width:24px;background-position:0 -1008px !important;}
.lang-img.fa{height:16px;width:24px;background-position:0 -1024px !important;}
.img.fa{height:16px;width:24px;background-position:0 -1024px !important;}
.lang.fa{height:16px;width:24px;background-position:0 -1024px !important;}
.az{height:16px;width:24px;background-position:0 -1040px !important;}
.be{height:16px;width:24px;background-position:0 -1056px !important;}
.bg{height:16px;width:24px;background-position:0 -1072px !important;}
.af{height:16px;width:24px;background-position:0 -1088px !important;}
.am{height:16px;width:24px;background-position:0 -1104px !important;}
.ar{height:16px;width:24px;background-position:0 -1120px !important;}
.bn{height:16px;width:24px;background-position:0 -1136px !important;}
.cn{height:16px;width:24px;background-position:0 -1152px !important;}
.co{height:16px;width:24px;background-position:0 -1168px !important;}
.cs{height:16px;width:24px;background-position:0 -1184px !important;}
.bs{height:16px;width:24px;background-position:0 -1200px !important;}
.ca{height:16px;width:24px;background-position:0 -1216px !important;}
.ceb{height:16px;width:24px;background-position:0 -1232px !important;}
.it{height:16px;width:24px;background-position:0 -1248px !important;}
.ja{height:16px;width:24px;background-position:0 -1264px !important;}
.jv{height:16px;width:24px;background-position:0 -1280px !important;}
.in{height:16px;width:24px;background-position:0 -1296px !important;}
.ig{height:16px;width:24px;background-position:0 -1312px !important;}
.is{height:16px;width:24px;background-position:0 -1328px !important;}
.ka{height:16px;width:24px;background-position:0 -1344px !important;}
.ko{height:16px;width:24px;background-position:0 -1360px !important;}
.ku{height:16px;width:24px;background-position:0 -1376px !important;}
.ky{height:16px;width:24px;background-position:0 -1392px !important;}
.kk{height:16px;width:24px;background-position:0 -1408px !important;}
.km{height:16px;width:24px;background-position:0 -1424px !important;}
.kn{height:16px;width:24px;background-position:0 -1440px !important;}
.gu{height:16px;width:24px;background-position:0 -1456px !important;}
.ha{height:16px;width:24px;background-position:0 -1472px !important;}
.haw{height:16px;width:24px;background-position:0 -1488px !important;}
.ga{height:16px;width:24px;background-position:0 -1504px !important;}
.ie{height:16px;width:24px;background-position:0 -1504px !important;}
.gd{height:16px;width:24px;background-position:0 -1520px !important;}
.gl{height:16px;width:24px;background-position:0 -1536px !important;}
.iw{height:16px;width:24px;background-position:0 -1552px !important;}
.ht{height:16px;width:24px;background-position:0 -1568px !important;}
.hu{height:16px;width:24px;background-position:0 -1584px !important;}
.hy{height:16px;width:24px;background-position:0 -1600px !important;}
.hi{height:16px;width:24px;background-position:0 -1616px !important;}
.hmn{height:16px;width:24px;background-position:0 -1632px !important;}
.hr{height:16px;width:24px;background-position:0 -1648px !important;}
.nb{height:16px;width:24px;background-position:0 0}
