@font-face {
  font-family: "iconfont2bksh"; /* Project id 4667299 */
  src: url('iconfont.woff2?t=1769508325299') format('woff2'),
       url('iconfont.woff?t=1769508325299') format('woff'),
       url('iconfont.ttf?t=1769508325299') format('truetype');
  font-display: swap;
}

.iconfont2bksh {
  font-family: "iconfont2bksh" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2bksh-base-signal-full:before {
  content: "\e958";
}

.icon2bksh-base-signal:before {
  content: "\e959";
}

.icon2bksh-shangxiayidong:before {
  content: "\e6d7";
}

.icon2bksh-recycle:before {
  content: "\eb1c";
}

.icon2bksh-youjiantou:before {
  content: "\e6d4";
}

.icon2bksh-yifahuo:before {
  content: "\e6b8";
}

.icon2bksh-daifahuo:before {
  content: "\e6b9";
}

.icon2bksh-zhiwuguanli:before {
  content: "\e6ba";
}

.icon2bksh-fahuotixing:before {
  content: "\e6bb";
}

.icon2bksh-fahuo:before {
  content: "\e6bc";
}

.icon2bksh-yifahuo1:before {
  content: "\e6be";
}

.icon2bksh-guanliyuan_guanliyuanrizhi:before {
  content: "\e6bf";
}

.icon2bksh-teaching-staff:before {
  content: "\e6c0";
}

.icon2bksh-cangku_kucun:before {
  content: "\eac8";
}

.icon2bksh-cangku_kucunxiangqing:before {
  content: "\eac9";
}

.icon2bksh-fuwuguanli:before {
  content: "\eaca";
}

.icon2bksh-baoguo_fahuo_o:before {
  content: "\ebb6";
}

.icon2bksh-yunshu-:before {
  content: "\ee71";
}

.icon2bksh-yunshu-1:before {
  content: "\ee72";
}

.icon2bksh-yunshu-2:before {
  content: "\ee73";
}

.icon2bksh-yunshu-3:before {
  content: "\ee74";
}

.icon2bksh-yunshu-4:before {
  content: "\ee82";
}

.icon2bksh-yunshu-5:before {
  content: "\ee88";
}

.icon2bksh-guanli:before {
  content: "\e6c1";
}

.icon2bksh-guanli1:before {
  content: "\e6c2";
}

.icon2bksh-shandianfahuo:before {
  content: "\e6c3";
}

.icon2bksh-zhiwuguanli1:before {
  content: "\e6c4";
}

.icon2bksh-daifahuo1:before {
  content: "\e6c5";
}

.icon2bksh-yunshu:before {
  content: "\e6c6";
}

.icon2bksh-zhigong:before {
  content: "\e6c7";
}

.icon2bksh-guanli2:before {
  content: "\e6c8";
}

.icon2bksh-sharpicons_intersection:before {
  content: "\e82e";
}

.icon2bksh-guanli3:before {
  content: "\e6c9";
}

.icon2bksh-cangkukucun:before {
  content: "\e6ca";
}

.icon2bksh-cangkukucun1:before {
  content: "\e6cb";
}

.icon2bksh-kuguanfahuo:before {
  content: "\e6cc";
}

.icon2bksh-zhigongguanli:before {
  content: "\e6cd";
}

.icon2bksh-yunshu1:before {
  content: "\e6ce";
}

.icon2bksh-yunshu2:before {
  content: "\e6d1";
}

.icon2bksh-cangpeitubiao_fahuohuanhuofahuo:before {
  content: "\e6d2";
}

.icon2bksh-zhigongketang:before {
  content: "\e6d3";
}

.icon2bksh-renzheng:before {
  content: "\e6b0";
}

.icon2bksh-shebei:before {
  content: "\e6b1";
}

.icon2bksh-weixiujilu:before {
  content: "\e6b2";
}

.icon2bksh-weixiu:before {
  content: "\e6b3";
}

.icon2bksh-xiangmu:before {
  content: "\e6b4";
}

.icon2bksh-renyuanguanli:before {
  content: "\e6b5";
}

.icon2bksh-pingtairenzheng:before {
  content: "\e7b5";
}

.icon2bksh-mianji:before {
  content: "\e6b6";
}

.icon2bksh-jigourenzheng:before {
  content: "\e734";
}

.icon2bksh-shebei1:before {
  content: "\e74b";
}

.icon2bksh-wodeshiyanshi:before {
  content: "\e6b7";
}

.icon2bksh-bianju:before {
  content: "\e6e3";
}

.icon2bksh-tuozhuaipaixu:before {
  content: "\e8e3";
}

.icon2bksh-xiaohongshu11:before {
  content: "\e6af";
}

.icon2bksh-xiaohongshu3:before {
  content: "\e6ae";
}

.icon2bksh-xiaohongshu:before {
  content: "\e6aa";
}

.icon2bksh-xiaohongshufengge:before {
  content: "\e715";
}

.icon2bksh-xiaohongshu2:before {
  content: "\e6ad";
}

.icon2bksh-xiaohongshu-copy:before {
  content: "\e6ab";
}

.icon2bksh-xiaohongshu1:before {
  content: "\e6ac";
}

.icon2bksh-tuandui:before {
  content: "\e69c";
}

.icon2bksh-anquanbaozhang:before {
  content: "\e69e";
}

.icon2bksh-anquan:before {
  content: "\e69f";
}

.icon2bksh-hezuobaoxiangongsi:before {
  content: "\e6bd";
}

.icon2bksh-anquanbaozhang1:before {
  content: "\e6a0";
}

.icon2bksh-anquanbaozhang2:before {
  content: "\e88c";
}

.icon2bksh-jiazhi:before {
  content: "\e6a1";
}

.icon2bksh-iconfonticon-baobia:before {
  content: "\e6a2";
}

.icon2bksh-iconfonticon-shebei:before {
  content: "\e6a3";
}

.icon2bksh-tuandui1:before {
  content: "\e6a4";
}

.icon2bksh-hezuo3:before {
  content: "\e6a5";
}

.icon2bksh-jiazhi1:before {
  content: "\e6a6";
}

.icon2bksh-jiazhi2:before {
  content: "\e6a7";
}

.icon2bksh-jiazhi-copy:before {
  content: "\e6a8";
}

.icon2bksh-cooperation-full:before {
  content: "\e85d";
}

.icon2bksh-factory-full:before {
  content: "\e9eb";
}

.icon2bksh-factory:before {
  content: "\e9ec";
}

.icon2bksh-wuxianshebei:before {
  content: "\e6a9";
}

.icon2bksh-jiazhi3:before {
  content: "\e718";
}

.icon2bksh-wifi-fill:before {
  content: "\e786";
}

.icon2bksh-wireless-charging-fill:before {
  content: "\e787";
}

.icon2bksh-mti-huagongchang:before {
  content: "\e8ac";
}

.icon2bksh-jishushichang-copy:before {
  content: "\e690";
}

.icon2bksh-gongren:before {
  content: "\e6db";
}

.icon2bksh-gongren1:before {
  content: "\e691";
}

.icon2bksh-lianxiwomen:before {
  content: "\e695";
}

.icon2bksh-lianxiwomen1:before {
  content: "\e697";
}

.icon2bksh-lianxiwomen2:before {
  content: "\e698";
}

.icon2bksh-gongju:before {
  content: "\e6cf";
}

.icon2bksh-gongren2:before {
  content: "\e7ee";
}

.icon2bksh-jiantouloukong-you:before {
  content: "\e69a";
}

.icon2bksh-jiantouloukong-zuo:before {
  content: "\e69b";
}

.icon2bksh-gongren3:before {
  content: "\e706";
}

.icon2bksh-zhiliangpingjiaxitong:before {
  content: "\e68f";
}

.icon2bksh-duigou:before {
  content: "\e683";
}

.icon2bksh-duigouxiao:before {
  content: "\e8bd";
}

.icon2bksh-kongxinduigou:before {
  content: "\ed1b";
}

.icon2bksh-duigou_kuai:before {
  content: "\ed1d";
}

.icon2bksh-xin:before {
  content: "\e689";
}

.icon2bksh-bofang2:before {
  content: "\e68a";
}

.icon2bksh-bofang3:before {
  content: "\e68b";
}

.icon2bksh-bofang4:before {
  content: "\e68c";
}

.icon2bksh-bofang5:before {
  content: "\e68d";
}

.icon2bksh-bofang6:before {
  content: "\e68e";
}

.icon2bksh-hengxian1:before {
  content: "\e682";
}

.icon2bksh-hengxian:before {
  content: "\e67a";
}

.icon2bksh-shuxian:before {
  content: "\e675";
}

.icon2bksh-shuxian-copy:before {
  content: "\e670";
}

.icon2bksh-a-nextstep:before {
  content: "\e688";
}

.icon2bksh-jindutiao2:before {
  content: "\e681";
}

.icon2bksh-shujuzhiliangkongzhi:before {
  content: "\e66e";
}

.icon2bksh-zhiliangkongzhi:before {
  content: "\e6e1";
}

.icon2bksh-hezuojigou:before {
  content: "\e732";
}

.icon2bksh-hezuo2:before {
  content: "\e66d";
}

.icon2bksh-hezuo1:before {
  content: "\e66c";
}

.icon2bksh-hezuohuoban:before {
  content: "\e680";
}

.icon2bksh-hezuo:before {
  content: "\e66b";
}

.icon2bksh-xunqiuhezuo:before {
  content: "\e67f";
}

.icon2bksh-youshi3:before {
  content: "\e664";
}

.icon2bksh-youshi2:before {
  content: "\e662";
}

.icon2bksh-youshi1:before {
  content: "\e660";
}

.icon2bksh-youshi_fuwu:before {
  content: "\e67b";
}

.icon2bksh-youshi:before {
  content: "\e65f";
}

.icon2bksh-rongyu:before {
  content: "\e663";
}

.icon2bksh-honor1:before {
  content: "\e7eb";
}

.icon2bksh-PKrongyubang:before {
  content: "\e693";
}

.icon2bksh-honor:before {
  content: "\e65d";
}

.icon2bksh-gongchang-06:before {
  content: "\ec20";
}

.icon2bksh-zhihuihuanbao_gongchang:before {
  content: "\e666";
}

.icon2bksh-icon_gongsi:before {
  content: "\e65c";
}

.icon2bksh-gongsi2:before {
  content: "\e65a";
}

.icon2bksh-gongsimingcheng:before {
  content: "\e659";
}

.icon2bksh-gongsi1:before {
  content: "\e679";
}

.icon2bksh-fuwu1:before {
  content: "\e673";
}

.icon2bksh-fuwu2:before {
  content: "\e674";
}

.icon2bksh-fuwuyoushi:before {
  content: "\e65e";
}

.icon2bksh-fuwu3:before {
  content: "\e694";
}

.icon2bksh-fuwu:before {
  content: "\e671";
}

.icon2bksh-icon-quanqiu:before {
  content: "\e672";
}

.icon2bksh-quanqiugou:before {
  content: "\e6ee";
}

.icon2bksh-quanqiu:before {
  content: "\e87b";
}

.icon2bksh-quanqiu1:before {
  content: "\e70c";
}

.icon2bksh-diqiuquanqiu:before {
  content: "\e76c";
}

.icon2bksh-lvsetongdao:before {
  content: "\e687";
}

.icon2bksh-shuxian1:before {
  content: "\e685";
}

.icon2bksh-bofang:before {
  content: "\e66f";
}

.icon2bksh-danxuanfill:before {
  content: "\e71e";
}

.icon2bksh-danxuan-xuanzhong:before {
  content: "\e696";
}

.icon2bksh-shipinbofang2:before {
  content: "\e78f";
}

.icon2bksh-shipinbofang:before {
  content: "\e661";
}

.icon2bksh-shipinbofang1:before {
  content: "\e6df";
}

.icon2bksh-yunxiazai_o1:before {
  content: "\ebb4";
}

.icon2bksh-wenjianxiazai:before {
  content: "\e658";
}

.icon2bksh-xiazai4:before {
  content: "\e665";
}

.icon2bksh-24px:before {
  content: "\e657";
}

.icon2bksh-xiazai3:before {
  content: "\e64d";
}

.icon2bksh-tongxinyuan:before {
  content: "\e656";
}

.icon2bksh-quseqi:before {
  content: "\e9fb";
}

.icon2bksh-icon-yuanxingjiantouyou-mianxing:before {
  content: "\e669";
}

.icon2bksh-icon-yuanxingjiantouzuo-mianxing:before {
  content: "\e66a";
}

.icon2bksh-fankuifaqs:before {
  content: "\e7c0";
}

.icon2bksh-manxing:before {
  content: "\e699";
}

.icon2bksh-a-xiaoyuancaisetubiao_wodedizhi:before {
  content: "\e646";
}

.icon2bksh-caisetubiao-12:before {
  content: "\e7aa";
}

.icon2bksh-caisetubiao-25:before {
  content: "\e7ac";
}

.icon2bksh-jiahao:before {
  content: "\e84f";
}

.icon2bksh-new1:before {
  content: "\e6d0";
}

.icon2bksh-hot1:before {
  content: "\e686";
}

.icon2bksh-yuanquan8:before {
  content: "\e655";
}

.icon2bksh-gouwuche:before {
  content: "\e652";
}

.icon2bksh-gouwuche1:before {
  content: "\e70b";
}

.icon2bksh-zhifeiji-copy:before {
  content: "\e653";
}

.icon2bksh-jietingzhong:before {
  content: "\e6dd";
}

.icon2bksh-shuangxiajiantou:before {
  content: "\e654";
}

.icon2bksh-zhiding2:before {
  content: "\e684";
}

.icon2bksh-wenjian:before {
  content: "\e64f";
}

.icon2bksh-wenjian1:before {
  content: "\e650";
}

.icon2bksh-gongsidizhi:before {
  content: "\e70d";
}

.icon2bksh-gongsi:before {
  content: "\e769";
}

.icon2bksh-jianzhu04-L:before {
  content: "\e651";
}

.icon2bksh-zhidingxian:before {
  content: "\e64b";
}

.icon2bksh-zhiding:before {
  content: "\e64c";
}

.icon2bksh-zhiding1:before {
  content: "\e64e";
}

.icon2bksh-damuzhi:before {
  content: "\e64a";
}

.icon2bksh-shumashouji:before {
  content: "\e63e";
}

.icon2bksh-dianhua2:before {
  content: "\e63f";
}

.icon2bksh-whatsapp2:before {
  content: "\e86a";
}

.icon2bksh-youjian:before {
  content: "\e641";
}

.icon2bksh-dianhua3:before {
  content: "\e642";
}

.icon2bksh-dizhiguanli:before {
  content: "\e644";
}

.icon2bksh-weixin:before {
  content: "\e733";
}

.icon2bksh-home1:before {
  content: "\e645";
}

.icon2bksh-weixin1:before {
  content: "\e856";
}

.icon2bksh-skype2:before {
  content: "\ecdb";
}

.icon2bksh-a-dayinjidayinchuanzhenfuyinji:before {
  content: "\e692";
}

.icon2bksh-yuandian:before {
  content: "\e643";
}

.icon2bksh-yuandian1:before {
  content: "\e63c";
}

.icon2bksh-weixuanzhongyuandian:before {
  content: "\e63d";
}

.icon2bksh-neirongfenleitixi:before {
  content: "\e6f0";
}

.icon2bksh-tubiao:before {
  content: "\e63b";
}

.icon2bksh-tuite-quan:before {
  content: "\e668";
}

.icon2bksh-Tiktok-quan:before {
  content: "\e667";
}

.icon2bksh-YouTube-quan:before {
  content: "\e676";
}

.icon2bksh-Facebook-quan:before {
  content: "\e67e";
}

.icon2bksh-Instagram-quan:before {
  content: "\e67d";
}

.icon2bksh-Linkedin-quan:before {
  content: "\e67c";
}

.icon2bksh-Pinterest-quan:before {
  content: "\e678";
}

.icon2bksh-VK-quan:before {
  content: "\e677";
}

.icon2bksh-biaoqian:before {
  content: "\e649";
}

.icon2bksh-twitter3:before {
  content: "\e7fd";
}

.icon2bksh-twitter4:before {
  content: "\e7fe";
}

.icon2bksh-twitter-new2:before {
  content: "\e800";
}

.icon2bksh-twitter-new:before {
  content: "\e7ff";
}

.icon2bksh-tiktok:before {
  content: "\e8db";
}

.icon2bksh-delete:before {
  content: "\e69d";
}

.icon2bksh-chahao:before {
  content: "\e617";
}

.icon2bksh-earth:before {
  content: "\e6d5";
}

.icon2bksh-earth1:before {
  content: "\e781";
}

.icon2bksh-chahao1:before {
  content: "\e60e";
}

.icon2bksh-phone-Fill:before {
  content: "\e601";
}

.icon2bksh-tik_tok:before {
  content: "\e603";
}

.icon2bksh-dianhua:before {
  content: "\e604";
}

.icon2bksh-b2b-close:before {
  content: "\e605";
}

.icon2bksh-a-rightlinefill-line:before {
  content: "\e606";
}

.icon2bksh-daohang:before {
  content: "\e609";
}

.icon2bksh-send-plane-line:before {
  content: "\e60a";
}

.icon2bksh-lianjie:before {
  content: "\e60b";
}

.icon2bksh-upload-cloud-2-line:before {
  content: "\e60c";
}

.icon2bksh-a-lianjie1:before {
  content: "\e60d";
}

.icon2bksh-a-weibo1:before {
  content: "\e612";
}

.icon2bksh-duoqiyingxiang:before {
  content: "\e613";
}

.icon2bksh-yuyan:before {
  content: "\e614";
}

.icon2bksh-weibo:before {
  content: "\e615";
}

.icon2bksh-jiantou_youshang:before {
  content: "\e618";
}

.icon2bksh-a-xiazai1:before {
  content: "\e619";
}

.icon2bksh-xiazai:before {
  content: "\e61a";
}

.icon2bksh-changjiantou:before {
  content: "\e61b";
}

.icon2bksh-a-danjiantouchangjiantouyou:before {
  content: "\e61c";
}

.icon2bksh-a-danjiantouchangjiantouzuo:before {
  content: "\e61d";
}

.icon2bksh-a-youxiang1:before {
  content: "\e61e";
}

.icon2bksh-yunxiazai_o:before {
  content: "\e61f";
}

.icon2bksh-dianhua1:before {
  content: "\e621";
}

.icon2bksh-rili:before {
  content: "\e622";
}

.icon2bksh-a-dianhua1:before {
  content: "\e623";
}

.icon2bksh-notepad:before {
  content: "\e625";
}

.icon2bksh-jiantou_youxia:before {
  content: "\e626";
}

.icon2bksh-a-dianhua11:before {
  content: "\e627";
}

.icon2bksh-a-youtube1:before {
  content: "\e628";
}

.icon2bksh-a-youjianyouxiang_jurassic:before {
  content: "\e629";
}

.icon2bksh-a-fenlei1:before {
  content: "\e62a";
}

.icon2bksh-fenlei:before {
  content: "\e62b";
}

.icon2bksh-sanjiaoshang:before {
  content: "\e62c";
}

.icon2bksh-xiangshang:before {
  content: "\e62d";
}

.icon2bksh-xiangxia:before {
  content: "\e62e";
}

.icon2bksh-sanjiao-jinru:before {
  content: "\e62f";
}

.icon2bksh-xiangzuo:before {
  content: "\e630";
}

.icon2bksh-lianjielink:before {
  content: "\e631";
}

.icon2bksh-xiajiantou:before {
  content: "\e632";
}

.icon2bksh-sanjiaoxing:before {
  content: "\e633";
}

.icon2bksh-xiazai1:before {
  content: "\e634";
}

.icon2bksh-xiazai2:before {
  content: "\e635";
}

.icon2bksh-jiantou_qiehuanyou:before {
  content: "\e636";
}

.icon2bksh-jiantou_qiehuanzuo:before {
  content: "\e638";
}

.icon2bksh-a-xiazai11:before {
  content: "\e639";
}

.icon2bksh-a-xiazai4:before {
  content: "\e63a";
}

.icon2bksh-home:before {
  content: "\e624";
}

.icon2bksh-edit:before {
  content: "\e611";
}

.icon2bksh-facebook:before {
  content: "\e620";
}

.icon2bksh-pinterest:before {
  content: "\e8ab";
}

.icon2bksh-linkedin:before {
  content: "\e648";
}

.icon2bksh-youtube:before {
  content: "\e6d6";
}

.icon2bksh-twitter:before {
  content: "\e607";
}

.icon2bksh-bigger:before {
  content: "\e647";
}

.icon2bksh-left:before {
  content: "\e72c";
}

.icon2bksh-right:before {
  content: "\e72d";
}

.icon2bksh-up1:before {
  content: "\e72e";
}

.icon2bksh-bottom1:before {
  content: "\e72f";
}

.icon2bksh-left1:before {
  content: "\e730";
}

.icon2bksh-right1:before {
  content: "\e731";
}

.icon2bksh-up:before {
  content: "\e73e";
}

.icon2bksh-bottom:before {
  content: "\e73f";
}

.icon2bksh-instagram:before {
  content: "\e79d";
}

.icon2bksh-tumblr:before {
  content: "\e79e";
}

.icon2bksh-download:before {
  content: "\e7a0";
}

.icon2bksh-download1:before {
  content: "\e7a7";
}

.icon2bksh-search4:before {
  content: "\e7b2";
}

.icon2bksh-address:before {
  content: "\e7bc";
}

.icon2bksh-email:before {
  content: "\e7bd";
}

.icon2bksh-contact:before {
  content: "\e7be";
}

.icon2bksh-whatsapp:before {
  content: "\e7bf";
}

.icon2bksh-fax:before {
  content: "\e7c2";
}

.icon2bksh-mobile:before {
  content: "\e7c6";
}

.icon2bksh-phone:before {
  content: "\e7c8";
}

.icon2bksh-tel:before {
  content: "\e7c7";
}

.icon2bksh-phone1:before {
  content: "\e7cb";
}

.icon2bksh-skype:before {
  content: "\e7cc";
}

.icon2bksh-whatsapp1:before {
  content: "\e7c1";
}

.icon2bksh-address1:before {
  content: "\e7c3";
}

.icon2bksh-contact1:before {
  content: "\e7c4";
}

.icon2bksh-email1:before {
  content: "\e7c5";
}

.icon2bksh-skype1:before {
  content: "\e7c9";
}

.icon2bksh-fax1:before {
  content: "\e7ca";
}

.icon2bksh-qq:before {
  content: "\e7ce";
}

.icon2bksh-tel1:before {
  content: "\e7cd";
}

.icon2bksh-wechat:before {
  content: "\e7cf";
}

.icon2bksh-phone2:before {
  content: "\e7d0";
}

.icon2bksh-message:before {
  content: "\e7da";
}

.icon2bksh-calendar:before {
  content: "\e7e1";
}

.icon2bksh-calendar1:before {
  content: "\e7e3";
}

.icon2bksh-top:before {
  content: "\e7ed";
}

.icon2bksh-youbian:before {
  content: "\e60f";
}

.icon2bksh-jian2:before {
  content: "\e600";
}

.icon2bksh-jia2:before {
  content: "\e608";
}

.icon2bksh-vk:before {
  content: "\e735";
}

.icon2bksh-instagram1:before {
  content: "\e640";
}

.icon2bksh-up7:before {
  content: "\e722";
}

.icon2bksh-bottom7:before {
  content: "\e723";
}

.icon2bksh-left7:before {
  content: "\e724";
}

.icon2bksh-right7:before {
  content: "\e725";
}

.icon2bksh-sousuo4:before {
  content: "\e610";
}

.icon2bksh-sousuo:before {
  content: "\e616";
}

.icon2bksh-sousuo1:before {
  content: "\e65b";
}

.icon2bksh-shangchuan:before {
  content: "\e602";
}

.icon2bksh-top2:before {
  content: "\e637";
}

