@font-face {
  font-family: "iconfont"; /* Project id 4262293 */
  src: url('iconfont.woff2?t=1729579810168') format('woff2'),
       url('iconfont.woff?t=1729579810168') format('woff'),
       url('iconfont.ttf?t=1729579810168') format('truetype'),
       url('iconfont.svg?t=1729579810168#iconfont') format('svg');
  font-display: optional;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangzi:before {
  content: "\e547";
}

.icon-a-fangzi1:before {
  content: "\e546";
}

.icon-zixunliuyan:before {
  content: "\e545";
}

.icon-email:before {
  content: "\e544";
}

.icon-a-xiangdaozhidaofangxiangmianbaoxie_jurassic:before {
  content: "\e543";
}

.icon-rili1:before {
  content: "\e542";
}

.icon-hangye:before {
  content: "\e541";
}

.icon-a-xiazai4:before {
  content: "\e540";
}

.icon-jiantou_qiehuanzuo:before {
  content: "\e539";
}

.icon-jiantou_qiehuanyou:before {
  content: "\e538";
}

.icon-a-xiazai11:before {
  content: "\e537";
}

.icon-xiazai2:before {
  content: "\e536";
}

.icon-xiazai1:before {
  content: "\e535";
}

.icon-sanjiaoxing:before {
  content: "\e534";
}

.icon-xiajiantou:before {
  content: "\e533";
}

.icon-lianjielink:before {
  content: "\e532";
}

.icon-xiangzuo:before {
  content: "\e531";
}

.icon-xiangxia:before {
  content: "\e530";
}

.icon-xiangshang:before {
  content: "\e52f";
}

.icon-sanjiaoshang:before {
  content: "\e52e";
}

.icon-sanjiao-jinru:before {
  content: "\e52d";
}

.icon-a-fenlei1:before {
  content: "\e52c";
}

.icon-fenlei:before {
  content: "\e52b";
}

.icon-a-youjianyouxiang_jurassic:before {
  content: "\e52a";
}

.icon-a-youtube1:before {
  content: "\e529";
}

.icon-a-dianhua11:before {
  content: "\e528";
}

.icon-jiantou_youxia:before {
  content: "\e527";
}

.icon-notepad:before {
  content: "\e526";
}

.icon-a-dianhua1:before {
  content: "\e525";
}

.icon-rili:before {
  content: "\e524";
}

.icon-dianhua1:before {
  content: "\e523";
}

.icon-a-youxiang1:before {
  content: "\e522";
}

.icon-yunxiazai_o:before {
  content: "\e521";
}

.icon-a-danjiantouchangjiantouzuo:before {
  content: "\e519";
}

.icon-changjiantou:before {
  content: "\e520";
}

.icon-a-danjiantouchangjiantouyou:before {
  content: "\e518";
}

.icon-xiazai:before {
  content: "\e517";
}

.icon-a-xiazai1:before {
  content: "\e516";
}

.icon-weibo:before {
  content: "\e515";
}

.icon-yuyan:before {
  content: "\e514";
}

.icon-duoqiyingxiang:before {
  content: "\e513";
}

.icon-a-weibo1:before {
  content: "\e512";
}

.icon-upload-cloud-2-line:before {
  content: "\e511";
}

.icon-a-lianjie1:before {
  content: "\e510";
}

.icon-daohang:before {
  content: "\e509";
}

.icon-a-rightlinefill-line:before {
  content: "\e508";
}

.icon-lianjie:before {
  content: "\e507";
}

.icon-send-plane-line:before {
  content: "\e506";
}

.icon-b2b-close:before {
  content: "\e505";
}

.icon-jiantou_youshang:before {
  content: "\e504";
}

.icon-dianhua:before {
  content: "\e501";
}

.icon-tik_tok:before {
  content: "\e502";
}

.icon-phone-Fill:before {
  content: "\e503";
}

